<!-- <div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Hello, {{name}}!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
  <div class="modal-body">
  <!-- <img src="{{ $assets}}img/{{ $inv->status}}.png" alt="{{ $inv->status}}" style="float: right; position: absolute; top:0; right: 0;"/> -->
  <img src="1.png"  style="float: right; position: absolute; top:0; right: 0;"/>
  <div id="wrap">
      <!-- <img src="{{ base_url()}}uploads/{{ $biller->logo ? $biller->logo : $Settings->logo}}" alt="{{ $biller->company ? $biller->company : $Settings->site_name ?>" /> -->
      <img src="{{ $biller.logo ? $biller.logo : $Settings.logl}}"  />
      <div class="row">
          <div class="col-xs-5">
              <h3>{{ $biller.company}}</h3>
              {{ $biller.address.",<br />".$biller.city.", ".$biller.postal_code.", ".$biller.state.",<br />".$biller.country;
              echo "<br />".lang("tel").": ".$biller.phone."<br />".lang("email").": ".$biller.email;
              if ($biller.cf1 && $biller.cf1 != "-") { echo "<br />".lang("bcf1").": ".$biller.cf1; }
              if ($biller.cf2 && $biller.cf2 != "-") { echo "<br />".lang("bcf2").": ".$biller.cf2; }
              if ($biller.cf3 && $biller.cf3 != "-") { echo "<br />".lang("bcf3").": ".$biller.cf3; }
              if ($biller.cf4 && $biller.cf4 != "-") { echo "<br />".lang("bcf4").": ".$biller.cf4; }
              if ($biller.cf5 && $biller.cf5 != "-") { echo "<br />".lang("bcf5").": ".$biller.cf5; }
              if ($biller.cf6 && $biller.cf6 != "-") { echo "<br />".lang("bcf6").": ".$biller.cf6; }
              ?>
          </div>

          <div class="col-xs-6">
              {{ lang("quoted_to")}}:
              <h3>{{$customer.company != '-' ? $customer.company :$customer.name }}</h3>
              <p *ngIf="$customer.company != '-'">
                {{attn}}:{{$customer.name}}
              </p>
              <p *ngIf="$customer.address != '-'">
                {{address}}:{{$customer.address}},{{$customer.city}},{{$customer.postalCode}},{{$customer.state}},{{$customer.country}}
              </p>
              <br>
              {{ lang("tel")}}:{{$customer.phone}}<br>
              {{ lang("email")}}:{{$customer.email}}<br>
              <p *ngIf="$customer.cf1 && $customer.cf1 != '-'">
                {{ccf1}}:{{$customer.ccf1}}
              </p>
              <p *ngIf="$customer.cf2 && $customer.cf2 != '-'">
                {{ccf2}}:{{$customer.ccf2}}
              </p>
              <p *ngIf="$customer.cf3 && $customer.cf3 != '-'">
                {{ccf3}}:{{$customer.ccf3}}
              </p>
              <p *ngIf="$customer.cf4 && $customer.cf4 != '-'">
                {{ccf4}}:{{$customer.ccf4}}
              </p>
              <p *ngIf="$customer.cf5 && $customer.cf5 != '-'">
                {{ccf5}}:{{$customer.ccf5}}
              </p>
              <p *ngIf="$customer.cf6 && $customer.cf6 != '-'">
                {{ccf6}}:{{$customer.ccf6}}
              </p>
              <!-- <?php
              if ($customer.cf1 && $customer.cf1 != "-") { echo "<br />".lang("ccf1").": ".$customer.cf1; }
              if ($customer.cf2 && $customer.cf2 != "-") { echo "<br />".lang("ccf2").": ".$customer.cf2; }
              if ($customer.cf3 && $customer.cf3 != "-") { echo "<br />".lang("ccf3").": ".$customer.cf3; }
              if ($customer.cf4 && $customer.cf4 != "-") { echo "<br />".lang("ccf4").": ".$customer.cf4; }
              if ($customer.cf5 && $customer.cf5 != "-") { echo "<br />".lang("ccf5").": ".$customer.cf5; }
              if ($customer.cf6 && $customer.cf6 != "-") { echo "<br />".lang("ccf6").": ".$customer.cf6; }
              ?> -->

          </div>
      </div>
      <div style="clear: both; height: 15px;"></div>

      <div class="row">
          <div class="col-xs-5">
              <h3 class="inv">{{ lang("quote")}} {{lang("no")}} {{$inv.id}}</h3>
          </div>
          <div class="col-xs-6">

              <p>
                  {{ lang("reference_no")}}:
                  {{ $inv.reference_no}}
              </p>
              <p>
                  {{ lang("date")}}:
                  <!-- {{ $this.sim.hrsd($inv.date)}} -->
                  {{ ($inv.date)}}
              </p>

          </div>
          <p>&nbsp;</p>
          <div style="clear: both; height: 15px;"></div>
          <div class="col-xs-12">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped" style="margin-bottom: 5px;">

                      <thead>

                          <tr>
                              <th style="max-width: 30px;">{{ lang("no")}}</th>
                              <th>{{ lang("description")}}</th>
                              <th class="col-xs-1" style="min-width:80px;padding-left:0;padding-right:0;">{{ lang("unit_price")}}</th>
                              <th class="col-xs-1" style="min-width:100px;padding-left:0;padding-right:0;">{{ lang("quantity")}}</th>
                              if($Settings.productDiscount) {
                                  <th class="col-xs-1" style="min-width:100px;padding-left:0;padding-right:0;">{{ lang("discount")}}</th>
                              }
                              if($Settings.defaultTaxRate) {
                                  <th class="col-xs-1" style="min-width:100px;padding-left:0;padding-right:0;">{{ lang("tax")}}</th>
                              }
                              <th class="col-xs-2">{{ lang("subtotal")}}</th>
                          </tr>

                      </thead>

                      <tbody>
                          <tr *ngFor="let $row of $rows ; let i=index" $r="{{ i + 1}}">
                          <!-- <?php
                          $r = 1;
                          foreach ($rows as $row):
                              ?>
                          <tr> -->
                              <td class="text-center">{{ $r}}</td>
                              <td *ngIf="$row.details">
                                  <strong>$row.productName</strong><br>
                                  $row.details
                              </td>
                              <td *ngIf="!$row.details">
                                  $row.productName
                              </td>
                              <td class="text-right">{{ formatMoney($row.realUnitPrice)}}</td>
                              <td class="text-center">{{ $row.quantity}}</td>
                              <td class="text-right" *ngIf="$Settings.productDiscount">
                                  <small *ngIf="$row.discountAmt > 0">
                                      $row.discount
                                  </small>
                                  {{ formatMoney($row.discountAmt)}}
                              </td>
                              if($Settings.default_tax_rate) {
                              <td class="text-right" *ngIf="$row.defaultTaxRate">
                                  <small *ngIf="$row.taxAmt > 0">
                                      $row.tax
                                  </small>
                                  {{ formatMoney($row.taxAmt)}}
                              </td>
                              <td class="text-right">{{ formatMoney($row.subtotal)}}</td>
                          </tr>
                      </tbody>

                      <tfoot>
                          <?php
                          $cols = 4;
                          ?>
                          <tr class="totals">
                              <th colspan="{{ $cols}}">{{ lang('total')}}</th>
                              <?php
                              if($Settings.product_discount) {
                                  ?>
                                  <th class="text-right">{{ $this.sim.formatMoney($inv.product_discount)}}</th>
                                  <?php
                              }
                              ?>
                              <?php
                              if($Settings.default_tax_rate) {
                                  ?>
                                  <th class="text-right">{{ $this.sim.formatMoney($inv.product_tax)}}</th>
                                  <?php
                              }
                              ?>
                              <th class="text-right">{{ $this.sim.formatMoney($inv.total)}}</th>
                          </tr>

                          <?php
                          $cols = $cols-2;
                          if($Settings.product_discount) { $cols++; }
                          if($Settings.default_tax_rate) { $cols++; }

                          if ($inv.order_discount > 0) {
                              ?>
                              <tr>
                                  <th class="word_text" colspan="{{ $cols}}">
                                      {{ $this.mywords.c2w($inv.order_discount)}}
                                  </th>
                                  <th class="text-right" colspan="2">
                                      {{ lang("order_discount")}} ({{ $Settings.currency_prefix}})
                                  </th>
                                  <th class="text-right">
                                      {{ $this.sim.formatMoney($inv.order_discount)}}
                                  </th>
                              </tr>
                              <?php
                          }
                          ?>
                          <?php
                          if ($inv.order_tax > 0) {
                              ?>
                              <tr>
                                  <th class="word_text" colspan="{{ $cols}}">
                                      {{ $this.mywords.c2w($inv.order_tax)}}
                                  </th>
                                  <th class="text-right" colspan="2">
                                      {{ lang("order_tax")}} ({{ $Settings.currency_prefix}})
                                  </th>
                                  <th class="text-right">
                                      {{ $this.sim.formatMoney($inv.order_tax)}}
                                  </th>
                              </tr>
                              <?php
                          }
                          ?>
                          <?php
                          if ($inv.shipping > 0) {
                              ?>
                              <tr>
                                  <th class="word_text" colspan="{{ $cols}}">
                                      {{ $this.mywords.c2w($inv.shipping)}}
                                  </th>
                                  <th class="text-right" colspan="2">
                                      {{ lang("shipping")}} ({{ $Settings.currency_prefix}})
                                  </th>
                                  <th class="text-right">
                                      {{ $this.sim.formatMoney($inv.shipping)}}
                                  </th>
                              </tr>
                              <?php
                          }
                          ?>
                          <tr class="primary">
                              <th class="word_text text-primary" colspan="{{ $cols}}">
                                  {{ $this.mywords.c2w($inv.grand_total)}}
                              </th>
                              <th class="text-right text-primary" colspan="2">
                                  {{ lang("grand_total")}} ({{ $Settings.currency_prefix}})
                              </th>
                              <th class="text-right text-primary">
                                  {{ $this.sim.formatMoney($inv.grand_total)}}
                              </th>
                          </tr>

                      </tfoot>

                  </table>
              </div>

              <div style="clear: both;"></div>
              <div class="row">
                  <div class="col-xs-12">
                      <?php
                      if($inv.note && $inv.note != "<br>" && $inv.note != " " && $inv.note != "<p></p>" ) {
                          ?>
                          <p>&nbsp;</p>
                          <div class="well well-sm">
                              <p class="lead">{{ lang("note")}}:</p>
                              <p>{{ $inv.note}}</p>
                          </div>
                          <?php
                      }
                      ?>
                  </div>

                  <div style="clear: both;"></div>
                  <div class="col-xs-4 pull-left">
                      <?php
                      if($biller.ss_image) {
                          ?>
                          <img src="{{ base_url('uploads/'.$biller.ss_image)}}" alt="" />
                          <?php
                      } else {
                          ?>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <?php
                      }
                      ?>
                      <p style="border-bottom: 1px solid #999;">&nbsp;</p>
                      <p>{{ lang("signature")." &amp; ".lang("stamp"); }}</p>
                  </div>

                  <div class="col-xs-4 pull-right">
                      <p>&nbsp;</p>
                      <p>
                          {{ lang("buyer")}}:
                          <?php
                          if($customer.company != "-") { echo $customer.company; } else { echo $customer->name; }
                          ?>
                      </p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p style="border-bottom: 1px solid #999;">&nbsp;</p>
                      <p>{{ lang("signature")." &amp; ".lang("stamp"); }}</p>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
          <div class="col-xs-12" style="margin-top: 15px;">
          <?php
              if (isset($client) && !empty($client)) {
                  echo '<a class="btn btn-primary btn-block" href="'.site_url('clients/pdf_quote?id='.$inv->id).'">'.lang('download_pdf').'</a>';
              }
          ?>
      </div>
  </div>
</div>
</div>
</div>
</div>
