<div class="page-head">
    <h2 class="pull-left">{{ $page_title}} <span class="page-meta">{{ lang("List Results")}}</span> </h2>
</div>
<div class="clearfix"></div>
<div class="matter">
    <div class="container">
        <table id="fileData" class="table table-bordered table-hover table-striped" style="margin-bottom: 5px;">
            <thead>
                <tr>
                    <th>{{ lang("First_name")}}</th>
                    <th>{{ lang("Last_name")}}</th>
                    <th>{{ lang("Email_address")}}</th>
                    <th>{{ lang("Phone")}}</th>
                    <th>{{ lang("User_role")}}</th>
                    <th style="width:100px;">{{ lang("Actions")}}</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.firstName}}</td>
                        <td>{{ user.lastName}}</td>
                        <td>{{ user.email}}</td>
                        <td>{{ user.phone}}</td>
                        <td>{{ user.description}}</td>
                        <td style="text-align:center;">
                                <div class="btn-group">
                            <a class="tip btn btn-primary btn-xs" title="edit_user" routerLink="/home/users/edit/{{user.id}}"> <i class="fa fa-edit"></i> </a>
                            <a *ngIf="sim.in_group.admin" class="tip btn btn-danger btn-xs" title="delete_user" (click)="delete(user.id)">
                              <i class="fa fa-trash-o"></i>
                            </a></div>
                        </td>
                        </tr>
                </tbody>
            </table>
            <p><a routerLink="/home/users/new" class="btn btn-primary">{{ lang("Add User")}}</a></p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>