<!-- Errors -->
<!-- <?php if($message) { echo "<div class=\"alert alert-error\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" . $message . "</div>"; } ?> -->

<div class="page-head">
  <h2 class="pull-left">{{ $page_title}} <span class="page-meta">{{ lang("Please enter user details below")}}</span> </h2>
</div>
<div class="clearfix"></div>
<div class="matter">
  <div class="container" *ngIf="curUser">
    <!-- <?php $attrib = array('class' => 'form-horizontal'); echo form_open("auth/create_user");?> -->
    <div class="form-group">
      <label for="first_name">{{ lang("first_name")}}</label>
      <div class="controls"> 
          <input class="form-control" id="first_name"  [(ngModel)]="curUser.firstName" />
        </div>
    </div>
    <div class="form-group">
      <label for="last_name">{{ lang("last_name")}}</label>
      <div class="controls"> 
          <input class="form-control" id="last_name"  [(ngModel)]="curUser.lastName" />
        </div>
    </div>
    <div class="form-group">
      <label for="company">{{ lang("company")}}</label>
      <div class="controls"> 
          <input class="form-control" id="company"  [(ngModel)]="curUser.company" />
        </div>
    </div>
    <div class="form-group">
      <label for="phone">{{ lang("phone")}}</label>
      <div class="controls"> 
          <input class="form-control" id="phone"  [(ngModel)]="curUser.phone" />
        </div>
    </div>
    <div class="form-group">
      <label for="email">{{ lang("email_address")}}</label>
      <div class="controls">
          <input class="form-control" id="email"  [(ngModel)]="curUser.email" />
          </div>
      
    </div>
    <div class="form-group">
      <label>{{ lang("user_role")}}</label>
      <div class="controls">
        <label class="radio">
          <input type="radio" name="role" id="optionsRadios1" value="admin" [(ngModel)]="curUser.role">
          {{ lang("admin (Do every thing)")}} 
        </label>
        <label class="radio">
          <input type="radio" name="role" id="optionsRadios2" value="staff" [(ngModel)]="curUser.role">
          {{ lang("Sales Staff (View, Add & Edit only)")}} </label>
        <label class="radio">
          <input type="radio" name="role" id="optionsRadios3" value="viewer" [(ngModel)]="curUser.role">
          {{ lang("Viewer (View only)")}} </label>
          <!-- <input type="radio" value="1" name="gender" [ngModel]="user.gender" > Male
   <input type="radio" value="2" name="gender" [ngModel]="user.gender" > Female -->
      </div>
    </div>
    <div class="form-group">
      <label for="password">{{ lang("Password")}}</label>
      <div class="controls">
          <input class="form-control" id="password"  [(ngModel)]="curUser.password" />
    </div>
    <div class="form-group">
      <label for="confirm_pw">{{ lang("Confirm Password")}}</label>
      <div class="controls"> 
          <input class="form-control" id="confirm_pw"  [(ngModel)]="curUser.passwordConfirm" />
    </div>
    <div class="form-group">
      <div class="controls">
          <button class="btn btn-primary" (click)="save()">{{lang("save")}}</button></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
