<div class="page-head">
  <h2 class="pull-left">{{ $page_title}} <span class="page-meta">{{ lang("Please use the table below to navigate or filter the results. You can download the table as csv, excel and pdf.")}}</span> </h2>
</div>
<div class="clearfix"></div>
<div class="matter">
  <div class="container">
    <table id="fileData" cellpadding=0 cellspacing=10 class="table table-bordered table-condensed table-hover table-striped" style="margin-bottom: 5px;">
      <thead>
        <tr>
          <th style="width:35px;">{{ lang('no')}}</th>
          <th>{{ lang('title')}}</th>
          <th>{{ lang('tax_rate')}}</th>
          <th>{{ lang('type')}}</th>
          <th style="width:100px;">{{ lang('actions')}}</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of $tax_rates; let i=index">
              <td>{{ i + 1}}</td>
              <td>{{ row.name}}</td>
              <td>{{ row.rate}}</td>
              <td>{{ row.type == 1 ? lang("Percentage (%)") :lang("Fixed ($)") }}</td>
              <td>
                <div class="btn-group"> <a class="tip btn btn-primary btn-xs" title="{{lang('edit_tax_rate')}}"  
                  routerLink="/home/settings/taxRate/edit/{{row.id}}"> <i class="fa fa-edit"></i> </a>
                  <a class="tip btn btn-danger btn-xs" title="{{lang('delete_tax_rate')}}'" 
                  (click)="delete(row.id)"> <i class="fa fa-trash-o"></i> </a>
                </div>
              </td>
            </tr>
      </tbody>
    </table>
    <p><a routerLink="/home/settings/taxRate/new" class="btn btn-primary">{{ lang('new_tax_rate')}}</a></p>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
