<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
      <div><h1 style="text-align:center; padding-bottom:10px; font-size:32px; line-height: 36px; text-transform: uppercase; font-weight: bold; color:#FFF; display:block;">Invoice Manager</h1><!--<img src="http://igetpower.com/1/themes/default/assets//img/INVOICE_LOGO" alt="Invoice Manager"/>--></div>
            <div class="widget worange">
              <div class="widget-head">
               Reset Password 
              </div>

              <div class="widget-content">
                <div class="padd" style="padding-bottom:0;">
                 <form class="form-horizontal">                                                                                                         
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputEmail">New Password</label>
                      <div class="col-lg-9">
                        <input type="password" name="new" value="" id="new" pattern="^.{8}.*$" 
                        [(ngModel)]="newPassword" class="form-control" autofocus="autofocus" placeholder="(at least 8 characters long)" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">Confirm Password</label>
                      <div class="col-lg-9">
                        <input type="password" name="new_confirm" value="" id="new_confirm" pattern="^.{8}.*$" 
                        [(ngModel)]="newConfirm" class="form-control" placeholder="Type new password again" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;">
                      </div>
                    </div>

                     <div class="form-group">
                    <div class="control-label col-lg-3">&nbsp;</div>
                        <div class="col-lg-9">
							<button  class="btn btn-primary btn-block" (click)="submit()">Submit</button>
							<!--<button type="reset" class="btn btn-default">Reset</button>-->
						</div>
                    </div>
                  </form>				  
				</div>
                </div>
              
                <div class="widget-foot">
                <strong>Go</strong> <a routerLink="/login">Back to Login Page</a>
                 
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>