<div class="page-head">
  <h2 class="pull-left">{{$page_title}} <span class="page-meta">{{lang("Please enter the information below.")}}</span> </h2>
</div>
<div class="clearfix"></div>
<div class="matter">
  <div class="container">

      <!-- <?php
          $attrib = array('class' => 'form-horizontal');
          echo form_open("products/add");
      ?> -->

      <div class="form-group">
          <label for="name">{{lang("name")}}</label>
          <div class="controls"><input class="form-control" id="name" maxlength="80" [(ngModel)]="curProduct.name" /><br>  
          </div>
      </div>
      <div class="form-group">
          <label for="details">{{ lang("details")}}</label>
          <div class="controls"><textarea class="form-control" id="details" maxlength="255" style="height:60px;" [(ngModel)]="curProduct.details">
            </textarea>
          </div>
      </div>
      <div class="form-group">
          <label for="price">{{ lang("price")}}</label>
          <div class="controls"><input class="form-control" id="price"  [(ngModel)]="curProduct.price" />
          </div>
      </div>
      <div *ngIf="$Settings.default_tax_rate" class="form-group">
          <label for="tax_rate">{{lang("tax_rate")}}</label>
          <div class="controls">
            <select  id="tax_rate" name="tax_rates" class='form-control' [(ngModel)]="curProduct.taxRate">
                <option *ngFor="let rate of $tax_rates" value="{{rate.id}}">{{rate.name}}</option>
            </select>
          </div>
      </div>

      <div *ngIf="$Settings.default_tax_rate" class="form-group">
            <label for="tax_method">{{lang("tax_method")}}</label>
            <select id='tax_method' name="tax_method" class='form-control' [(ngModel)]="curProduct.taxMethod">
                <option value="exclusive">{{lang('exclusive')}}</option>
                <option value="inclusive">{{lang('inclusive')}}</option>
            </select>
      </div>

      <div class="form-group controls">
            <button class="btn btn-primary" (click)="save()">{{lang("save_product")}}</button>
      </div>

      <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
