
    
<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
  <div class="wrapper hold-transition skin-blue sidebar-mini">

    <app-app-header></app-app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-app-aside></app-app-aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper mainbar">
      <router-outlet></router-outlet>
      <!-- Content Header (Page header) -->    
    </div>
    <!-- /.content-wrapper -->
  
    <app-footer></app-footer>
  
  </div>
  <!-- ./wrapper -->




    
    