<div class="page-head">
    <h2 class="pull-left">{{ $page_title}} <span class="page-meta">{{ lang("Please enter the information below.")}}</span> </h2>
</div>
<div class="clearfix"></div>
<div class="matter">
    <div class="container">

      <!-- <?php $attrib = array('role' => 'form', 'id="stripe_form"');
      echo form_open("settings/stripe", $attrib);
      ?> -->
      <div class="row">            
          <div class="col-md-6">
              <div class="form-group">
                  {{ lang("Activate")}}
                  <select id='active' name="active" class='form-control tip' [(ngModel)]="curSetting.active"  required="required" >
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                 </select>
              </div>

              <div class="form-group">
                  {{ lang("Secret Key")}}
                  <input class="form-control tip" id="secret_key" [(ngModel)]="curSetting.secretKey" />
              </div>
              <div class="form-group">
                  {{ lang("Publishable Key")}}
                  <input class="form-control tip" id="publishable_key" [(ngModel)]="curSetting.publishableKey" />
              </div>

              <div class="form-group">
                  {{ lang("Fixed Charges")}}
                  <input class="form-control tip" id="fixed_charges" [(ngModel)]="curSetting.fixedCharges" />
                  <small class="help-block">{{lang("Fixed Charges Tip")}}</small>
              </div>
              <div class="form-group">
                  {{ lang("Extra Charges My")}}
                  <input class="form-control tip" id="extra_charges_my" [(ngModel)]="curSetting.extraChargesMy" />
                  <small class="help-block">{{lang("Extra Charges My Tip")}}</small>
              </div>
              <div class="form-group">
                  {{ lang("Extra Charges Others")}}
                  <input class="form-control tip" id="extra_charges" [(ngModel)]="curSetting.extraChargesOther" />
                  <small class="help-block">{{lang("Extra Charges Others Tip")}}</small>
              </div>

          </div>
      </div>
      <div style="clear: both; height: 10px;"></div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="updateSysSetting()">{{lang("Update Settings")}}</button>
      </div>
  </div>
  <!-- {{ form_close()}}  -->
</div>  
